@import "tailwindcss";

@keyframes hoverLoad {
  0% {
    transform: scale(1);
    background-color: transparent;
  }
  100% {
    transform: scale(1.05);
    background-color: #f3f4f6; /* same as your hover color */
  }
}